* {
  background-color: brown;
  box-sizing: border-box;
}
div {
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
  text-decoration: solid;
}

img {
  width: 250px;
  height: 250px;
}

#title {
  text-align: center;
}
